.parent {
    background: lightgrey;
    min-height: 300px;
    display:grid;
    justify-items: stretch;
    align-items: stretch ;
    justify-content: space-around;
    align-content:center ;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 75px 125px;
    gap: 20px;

}

.item {
    background: indigo;
    font-size: 2 rem;
    color: #fff;
}

.item-2 {
    background: lime;
}